.section {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid var(--background);
  background-color: var(--clean-background);
  border-radius: 10px;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;

  flex-wrap: wrap;
}

.title {
  margin: 0 0 10px 0;
  font-size: 1.3em;
  font-weight: bold;
}
.tags {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.tag {
  margin: 10px 5px 10px 0;
  padding: 10px 15px;
  border-radius: 8px;
}
.startButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: 0.1s ease;
  background-color: var(--background);
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 10px;
  width: 100%;
}
.startButtonText {
  margin-right: 10px;
}
.startButton:hover {
  background-color: var(--secondary-color);
  color: var(--white);
}
