.container {
  margin: 10px 0;
  display: flex;
  width: fit-content;
  flex-direction: row;
  padding: 8px 15px;
  border: 1px solid var(--background);
  background-color: var(--clean-background);
  border-radius: 10px;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.addText {
  margin-left: 10px;
}
.container:hover {
  background-color: var(--secondary);
  color: var(--white);
}
