.heading1 {
  font-size: 4em;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
}

.headerLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.avatar {
  border-radius: 50%;
  width: 100px;
}

.followersContainer {
  margin: 5px 10px 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

.followerContainer {
  display: flex;
  margin: 0 7px 7px 0;
  flex-direction: row;
  height: 49px;
  width: fit-content;
  padding: 2px 8px;
  border: 1px solid var(--background);
  border-radius: 10px;
  background-color: var(--clean-background);
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.followerContainer:hover {
  cursor: pointer;
  background-color: var(--background);
  color: var(--white);
}

.followerAvatar {
  margin: 0 0 0 10px;
}

.followerName {
  margin-left: 8px;
}