@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --white: #ffffff;
  --primary: #0099ff;
  --secondary: #1c5480;
  --background: #96d5ff;
  --dark-background: #418dbf;
  --clean-background: #daf1ff;
  --right: #9fffaf;
  --wrong: #ffb8b8;

  --fontSmall: 14px;
  --fontText: 18px;
  --fontBig: 24px;
  --fontHeader: 48px;
  --breakpoint-md: 768px;

  background-image: radial-gradient(var(--clean-background) 3px, #fdfdfd 1px);
  background-position: 0 0, 40px 5px;
  background-size: 60px 60px;
  margin: 0;
}
