.section {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid var(--background);
  background-color: var(--clean-background);
  border-radius: 10px;
  align-content: flex-start;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.title {
  margin: 0 0 10px 0;
  font-size: 1.3em;
  font-weight: bold;
}
.tags {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}
.tag {
  margin: 7px 7px 0px 0;
  padding: 7px 10px;
  border-radius: 8px;
}
