.input {
    width: 100%;
    padding: 10px;
    height: 49px;
    border-radius: 0 10px 10px 0;
    border: 1px solid var(--background);
}

.inputError {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    height: 49px;
    border-radius: 0 10px 10px 0;
    border: 1px solid var(--wrong);
}

.inputBig {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    transition: 0.2s ease all;
}

.inputBig:active {
    transform: scale(0.95);
}

.inputIcon {
    height: 49px;
    width: 50px;
    border-radius: 10px 0 0 10px;
    display: flex;
    background-color: var(--background);
    align-items: center;
    justify-content: center;
    align-content: center;

}


.inputBig:hover .inputIcon {
    background-color: var(--secondary);
    color: var(--white);
}

.inputBig:hover .button {
    background-color: var(--dark-background);
    color: var(--white);
}