.names {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: var(--fontSmall);
}

.creator {
  display: flex;
  background-color: var(--clean-background);
  border: 1px solid var(--black);
  border-radius: 25px;
  z-index: 1;
  padding: 5px 15px 5px 5px;
  margin: 5px 0;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}
.creatorUserNameBy {
  margin-left: 10px;
}
.creatorUserName {
  font-weight: 700;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
